<div class="content content-inscription">
<h1><%= t('views.devise.registrations.new.title')%></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => 'form-inscription'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :login %>
    <%= f.text_field :login, autofocus: true, class: 'ipt-login' %>
  </div>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, class: 'ipt-mail' %>
  </div>

  <div class="input-field">
    <%= f.label :password, t('views.devise.registrations.new.label_password') %>
    <%= f.password_field :password, autocomplete: "off", class: 'ipt-password' %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, t('views.devise.registrations.new.label_password_confirmation') %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'ipt-password' %>
  </div>

  <div class="input-field actions">
    <%= f.submit t('views.devise.registrations.new.btn_signup')%>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

</div>