<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Welcome to Todolist, <%= @user.login %></h1>
  <p>
    You have successfully signup to Todolist.com, your login is : <%= @user.email %>
  </p>
  <p>Thanks for joining and have a great day !</p>
</body>
</html>