Welcome to Todolist, <%= @user.login %>
=======================================
You have successfully signup to Todolist.com, your login is : <%= @user.email %>
Thanks for joining and have a great day !