<%= simple_form_for @projet, :html => {:class => 'form-manage', :id => 'formAddProjet', :method => :post}, :url => create_projets_path do | f | %>
    <div class="row">
      <div class="side-left">
        <div class="input-field">
          <%= f.label :name, t('views.projets.new.label_name')+' :' %>
          <%= f.text_field :name, class: 'ipt-name-project' %>
        </div>

        <div class="input-field">
          <%= f.label :description, t('views.projets.new.label_description')+' :'  %>
          <%= f.text_area :description, class: 'ipt-description', size: '30x10' %>
        </div>
      </div>

      <div class="side-right">
        <div class="input-field">
          <label for="ipt-description"><%= t('views.projets.new.label_collaborator')%> :</label>
          <div class="select-users" id="select-users"></div>
          <ul id="userlists">
            <% if @users.length > 0 %>
                <% @users.each do | user | %>
                    <li id="<%= user.id %>"><%= user.login %></li>
                <% end %>
            <% else %>
                <li>Pas d'utilisateurs inscrits</li>
            <% end %>
          </ul>
          <div style="display: none"><%= f.association :users %></div>
          <span class="tooltip"><span class="stars">*</span><%= t('views.projets.new.label_tips')%></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-footer">
        <div class="input-field"><%= f.button :submit, t('views.projets.new.btn_submit') %></div>
      </div>
    </div>

    <% if @projet.created_by_id == current_user.id %>
        <span>yo</span>
    <% end %>
<% end %>