<div class="aside" id="aside">
  <div class="btn-team">
    <div class="btn-wrapper" id="btn-details"><span></span></div>
  </div>
  <div class="team-details">
    <h1><%= t('views.layout.application.title_project')%> :</h1>
    <h2 id="title_project">Le nom du projet</h2>
    <div class="team-description">
      <h3>Description:</h3>
      <p id="team-info"></p>
    </div>
    <div class="team-collaborators">
      <h3><%= t('views.layout.application.collaborators')%> :</h3>
      <div class="collaborators" id="collaborators"></div>
    </div>
    <div class="workflow">
      <div class="action-onprogress">
        <span><%= t('views.layout.application.actions_on_working')%>:</span>
        <span id="nb_current_actions" data-action='0'></span>
      </div>
      <div class="action-finished">
        <span><%= t('views.layout.application.actions_is_finish')%>:</span>
        <span id="nb_finish_actions" data-action='0'></span>
      </div>
    </div>
  </div>
</div>