<div class="todolist-project">
  <div class="current-project">
    <span class="title"><%= t('views.home.index.title_project')%> :</span>
    <div class="project">
      <span class="current btn-project" id="current" data-key="default"><%= t('views.home.index.libelle_default')%></span>
      <div class="projects" id="projects">
        <ul>
          <li id="default"><%= t('views.home.index.libelle_default')%></li>
          <% @projets.each do | projet | %>
              <li id="<%= projet.id %>"><%= projet.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>