<div class="content content-index">
  <div class="todo-archieve todolist" id="todolist">
    <div id="actions-wrapper">
      <div class="actions-date">
        <% current = 'bonjour' %>
        <% @actions.each do | action | %>
            <% if current != action.created_at.to_s(:created_at) %>
                <span><%= action.created_at.to_s(:created_at) %></span>
            <% end %>
            <div class="actions">
              <div class="action is-archived" id="todo_<%= action.created_at.to_s(:created_at) %>">
                <input type="checkbox" name="checkbox" id="checkbox_<%= action.id%>">
                <label for="checkbox_<%= action.id%>"><s><%= action.contenu %></s></label>
              </div>
            </div>
            <% current = action.created_at.to_s(:created_at) %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
