<%- if controller_name != 'sessions' %>
  <%= link_to t('views.devise.shared.link.title_login'), new_session_path(resource_name), class: 'btn btn-inscription' %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t('views.devise.shared.link.title_signup'), new_registration_path(resource_name), class: 'btn btn-inscription' %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t('views.devise.shared.link.forgot_password'), new_password_path(resource_name), class: 'btn btn-inscription' %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('views.devise.shared.link.confirmation_instructions'), new_confirmation_path(resource_name), class: 'btn btn-inscription' %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('views.devise.shared.link.unlock_instructions'), new_unlock_path(resource_name), class: 'btn btn-inscription' %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to t('views.devise.shared.link.sign_in'), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
