<%= form_for :action, :html => {:class => "form-manage", :id => 'formAddAction'} do | f | %>
    <%= f.text_field :contenu, class: 'ipt-todolist', id: 'ipt-todolist', placeholder:  t('views.actions.form.placeholder') %>
    <%= f.submit t('views.actions.form.btn_submit'), class: 'btn-submit' %>
<% end %>