<div class="content content-inscription">
<h1><%= t('views.devise.passwords.edit.title')%></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form-inscription'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, class: 'ipt-mail' %>
  </div>

  <div class="input-field actions">
    <%= f.submit t('views.devise.passwords.edit.btn_reset') %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

</div>