<div class="content content-manage-team">
  <h1><%= t('views.priority.index.title')%></h1>
  <div class="wrapper-priority">
    <div class="row">
      <div class="side-left">
        <h2><%= t('views.priority.index.sub_title')%></h2>
        <table id="table-priority">
          <thead>
          <tr>
            <th><%= t('views.priority.index.title_libelle')%></th>
            <th><%= t('views.priority.index.title_order')%></th>
            <th><%= t('views.priority.index.title_actions')%></th>
          </tr>
          </thead>

          <tbody>
          <% @priorities.each do | priority | %>
            <tr id="priority-<%= priority.id %>">
              <td><input type="text" value="<%= priority.libelle %>" name="priority-libelle"></td>
              <td><input type="text" value="<%= priority.order %>" name="priority"></td>
              <td>
                <button class="btn-save" data-id="<%= priority.id %>" id="btn-save-priority"><%= t('views.priority.index.button_save')%></button>
                <button class="btn-delete" data-id="<%= priority.id %>" id="btn-delete-priority"><%= t('views.priority.index.button_delete')%></button>
              </td>
            </tr>
          <% end %>
          </tbody>

          <tfoot>
          <tr>
            <td><button id="btn-new-priority"><%= t('views.priority.index.button_create')%></button></td>
          </tr>
          </tfoot>
        </table>
        <div class="note">
          <span>*&nbsp;<%= t('views.priority.index.note_order')%></span>
          <span>*&nbsp;<%= t('views.priority.index.note_integer')%></span>
        </div>
      </div>
    </div>
  </div>
</div>
