<div class="content content-index">
  <%= render :partial => 'projets/select', :locals => { :projets => @projets } %>
  <div class="display" id="display">
    <button class="btn btn-filter" id="btn-filter"><%= t('views.home.index.btn_filter')%></button>
    <div class="todolist-query" id="todolist-query">
      <div class="query-wrapper">
        <h3><%= t('views.home.index.title_date')%></h3>
        <div class="query-selector">
          <ul class="query-date" id="date-query">
            <li class="query query-date-item" data-id="desc"><%= t('views.home.index.query_date_creation_recent')%></li>
            <li class="query query-date-item" data-id="asc"><%= t('views.home.index.query_date_creation_old')%></li>
          </ul>
        </div>
      </div>
      <div class="query-wrapper">
        <h3><%= t('views.home.index.title_priority')%></h3>
        <div class="query-selector">
          <ul class="priority" id="priority-query"></ul>
        </div>
      </div>
      <div class="query-wrapper">
        <h3><%= t('views.home.index.title_collaborators')%></h3>
        <div class="query-selector">
          <form action="#" id="formSearchByLogin" method="GET">
            <input type="text" class="ipt ipt-query" name="ipt-query-name" placeholder="<%= t('views.home.index.query_placeholder')%>" >
          </form>
        </div>
      </div>
    </div>
    <div class="todolist" id="todolist">
      <div id="actions-wrapper">
      </div>
      <div class="todolist-action">
        <button class="btn-ajax btn-archive"><%= t('views.home.index.btn_archive')%></button>
        <button href="#" class="btn-ajax btn-delete"><%= t('views.home.index.btn_delete')%></button>
      </div>
    </div>

    <div class="todolist-add">
      <%= render :partial => 'actions/form', :locals => { :action => @action } %>
    </div>

    <div class="todolist-manage">
      <%= render :partial => 'actions/link' %>
      <%= render :partial => 'priority/link' %>
      <%= render :partial => 'projets/delete' %>
    </div>
  </div>
  <div class="display-default" id="display-default">
      <%= render :partial => 'projets/link' %>
  </div>
</div>