<div class="popin popin-delete" id="popin-delete">
  <span><%= t 'views.contacts.delete.span'%> :&nbsp;<span>Nom</span>&nbsp;?</span>
  <div class="input-field">
    <button class="btn-yes"></button>
    <button class="btn-no btn-close"></button>
  </div>
</div>