<div class="message-block" id="message-block">
  <div class="form-message">
    <button class="btn-close" id="btn-close"></button>
    <form action="#" method="post">
      <div class="input-field">
        <label for="pseudo"><%= t('views.contacts.form.lbl_pseudo')%>:</label>
        <input type="text" name="pseudo" class="ipt-mail ipt-pseudo">
      </div>
      <div class="input-field">
        <label for="objet"><%= t('views.contacts.form.lbl_objet')%>:</label>
        <input type="text" name="objet" class="ipt-mail">
      </div>
      <div class="input-field">
        <label for="pseudo"><%= t('views.contacts.form.lbl_message')%>:</label><br />
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="input-field">
        <input type="submit" value="Envoyer">
      </div>
    </form>
  </div>
</div>
