<div class="friends" id="friends">
  <div class="display">
    <div class="friends-wrapper">
      <h2><%= t('views.contacts.index.title_friends')%></h2>
      <ul class="my-friends">
        <% if @friends %>
          <% @friends.each do | friend | %>
            <li class="friend" id="friend-<%= friend.id %>" data-user="<%= friend.id %>">
              <span class="pseudo" data-mail="<%= friend.email %>"><%= friend.login %></span>
              <button data-user="<%= friend.id %>" class="delete" id="btn-delete-friend"></button>
              <button data-user="<%= friend.id %>" class="message" id="btn-message"></button>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="request-wrapper" id="request-wrapper">
      <span class="btn-request" id="btn-request">Invitation</span>
      <ul id="request">
      <% if @requests_pending %>
          <% @requests_pending.each do | user | %>
              <li data-user="<%= user.id %>">
                <span><%= user.login %></span>
                <button data-user="<%= user.id %>" class="delete" id="btn-delete-request"></button>
                <button data-user="<%= user.id %>" class="add" id="btn-accept-request"></button>
              </li>
          <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <span class="btn-friends" id="btn-friends"><%= t('views.contacts.index.btn_friends')%></span>
</div>