<div class="content content-inscription">
<h1><%= t('views.devise.sessions.new.title')%></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form-inscription'}) do |f| %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true , class: 'ipt-login' %>
  </div>

  <div class="input-field">
    <%= f.label :password, t('views.devise.sessions.new.label_password') %>
    <%= f.password_field :password, autocomplete: "off" , class: 'ipt-password'  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t('views.devise.sessions.new.label_remember_me')%>
    </div>
  <% end -%>

  <div class="actions input-field">
    <%= f.submit t('views.devise.label_btn_log') %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

</div>