/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";
/* VARIABLES */
/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* GENERAL RULES */
body { font-family: 'Roboto'; font-size: 18px; color: #FFE89B; background-color: #751512; background-image: url("/assets/Ruby_logo.png"); background-position: 90% 85%; background-repeat: no-repeat; background-size: 30% auto; -webkit-backface-visibility: hidden; backface-visibility: hidden; height: 100vh; }

h1 { font-family: 'Finger Paint'; font-size: 32px; }

.container { width: 968px; margin: 0 auto; }

input, button { outline: none; }

a { text-decoration: none; color: #FFE89B; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #FFE89B; }

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #FFE89B; opacity: 1; }

::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #FFE89B; opacity: 1; }

:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #FFE89B; }

.notice { box-sizing: border-box; width: 90%; display: block; text-align: center; border-radius: 5px; padding: 5px 0; margin: 5px auto 0 auto; }

.notice-info { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }

.notice-error, .notice-danger, .notice-warning { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }

.notice-success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }

.display { display: none; }

.display.on { display: block; }

.display-default { display: block; }

.display-default.off { display: none; }

.header .header-options .loggout-wrapper, .header .header-options .locale-options { display: inline-block; }

.header .header-options .locale-options { padding: 10px 0 0 0; font-size: 13px; }

.header .header-options .locale-options span { display: inline-block; width: auto; padding: 0px 15px 10px 15px; background-color: #490d0b; cursor: pointer; }

.header .header-options .locale-options span:hover { text-decoration: underline; }

.header .header-options .locale-options .locale-fr::before, .header .header-options .locale-options .locale-en::before { content: ''; display: inline-block; position: relative; top: 5px; width: 24px; height: 24px; margin-right: 10px; vertical-align: bottom; }

.header .header-options .locale-options .locale-fr::before { background-image: url("/assets/France.png"); background-repeat: no-repeat; vertical-align: bottom; }

.header .header-options .locale-options .locale-en::before { background-image: url("/assets/United-Kingdom.png"); background-repeat: no-repeat; }

.header .header-options .loggout-wrapper { display: block; margin-right: 15px; float: right; box-sizing: border-box; padding: 10px; border-radius: 10px; background-color: #490d0b; }

.header .header-options .loggout-wrapper a { font-size: 13px; }

.header .header-options .loggout-wrapper a::before { content: ''; display: block; width: 32px; height: 32px; margin: 0 auto; background-image: url("/assets/log_out-64.png"); background-size: 32px 32px; -webkit-transition: all 1s; transition: all 1s; }

.header .header-options .loggout-wrapper a:hover { text-decoration: underline; }

.header .header-options .loggout-wrapper a:hover::before { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }

.header .header-options::after { content: ''; display: table; clear: both; }

.header .hr { display: block; width: 80%; height: 2px; margin: 10px auto 0 auto; border-bottom: 1px solid #520f0d; }

.header h1 { padding: 30px 0; text-align: center; }

.footer { padding: 10px 0; margin-top: 15px; background-color: #490d0b; border: 2px solid #330908; }

.footer h2 { font-size: 16px; font-weight: bold; text-transform: uppercase; text-align: center; }

.footer div.RS { display: block; margin: 10px auto 0 auto; text-align: center; }

.footer div.RS a { display: inline-block; width: 32px; height: 32px; background: url("/assets/Sprite_RS.png") no-repeat top left; }

.footer div.RS a.fb { background-position: left top; }

.footer div.RS a.fb:hover { background-position: left bottom; }

.footer div.RS a.twitter { background-position: 20% top; }

.footer div.RS a.twitter:hover { background-position: 20% bottom; }

.footer div.RS a.google { background-position: 40% top; }

.footer div.RS a.google:hover { background-position: 40% bottom; }

.footer div.RS a.insta { background-position: 60% top; }

.footer div.RS a.insta:hover { background-position: 60% bottom; }

.footer div.RS a.yt { background-position: 80% top; }

.footer div.RS a.yt:hover { background-position: 80% bottom; }

.footer div.RS a.github { background-position: right top; }

.footer div.RS a.github:hover { background-position: right bottom; }

.popin { z-index: 10; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); width: auto; height: auto; box-sizing: border-box; padding: 0px 20px 10px; border-radius: 5px; box-shadow: 5px 5px 1px -1px rgba(0, 0, 0, 0.1); }

.popin-add { display: none; background-color: #751512; }

.popin-add span { display: block; margin: 20px; text-align: center; color: #FFE89B; }

.popin-add button.btn-close { display: block; margin: 0 auto; width: 120px; height: 30px; background-color: #490d0b; border: #490d0b; background-image: url("/assets/1451248913_remove-01.png"); background-repeat: no-repeat; background-position: center; cursor: pointer; outline: none; }

.popin-add button.btn-close:hover { background-color: #5f110f; }

.popin-delete { display: none; background-color: #751512; }

.popin-delete span { text-align: center; display: inline-block; margin: 15px 0; }

.popin-delete .input-field { margin: 0 auto; text-align: center; }

.popin-delete button.btn-no { display: inline-block; margin: 0 auto; width: 120px; height: 30px; background-color: #490d0b; border: #490d0b; background-image: url("/assets/1451248913_remove-01.png"); background-repeat: no-repeat; background-position: center; cursor: pointer; outline: none; }

.popin-delete button.btn-no:hover { background-color: #5f110f; }

.popin-delete button.btn-yes { display: inline-block; margin: 0 auto; width: 120px; height: 30px; background-color: #490d0b; border: #490d0b; background-image: url("/assets/check-32.png"); background-repeat: no-repeat; background-position: center; background-size: 24px 24px; cursor: pointer; outline: none; }

.popin-delete button.btn-yes:hover { background-color: #5f110f; }

.popin-add.is-active { display: block; }

.popin-delete.is-active { display: block; }

.aside { position: fixed; height: 100vh; z-index: 5; -webkit-transform: translateX(-410px); -ms-transform: translateX(-410px); transform: translateX(-410px); -webkit-transition: all 0.6s; transition: all 0.6s; }

.aside .team-details, .aside .btn-team { display: inline-block; }

.aside .btn-team { position: relative; display: block; height: 100%; width: 64px; float: right; background-color: #5f110f; border-right: 1px solid #330908; }

.aside .btn-team .btn-wrapper { position: absolute; top: 50%; right: -40px; width: 80px; height: 80px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-left: 50px; border-radius: 50%; background-color: #5f110f; border-right: 1px solid #330908; cursor: pointer; }

.aside .btn-team .btn-wrapper span { position: absolute; top: 50%; left: 50%; display: inline-block; width: 30px; height: 3px; background-color: black; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -webkit-transition: all 0.4s; transition: all 0.4s; }

.aside .btn-team .btn-wrapper span::before, .aside .btn-team .btn-wrapper span::after { position: absolute; content: ''; display: inline-block; height: 3px; width: 30px; -webkit-transition: all 0.4s; transition: all 0.4s; background-color: black; }

.aside .btn-team .btn-wrapper span::before { -webkit-transform: translateY(-8px); -ms-transform: translateY(-8px); transform: translateY(-8px); }

.aside .btn-team .btn-wrapper span::after { -webkit-transform: translateY(8px); -ms-transform: translateY(8px); transform: translateY(8px); }

.aside .team-details { width: 300px; height: 100%; box-sizing: border-box; background-color: #5f110f; padding: 10px; }

.aside .team-details h1 { margin: 10px 0; text-align: center; }

.aside .team-details h2 { padding: 10px; text-align: center; }

.aside .team-details .team-description { box-sizing: border-box; border-top: 1px solid #330908; padding: 20px 0 0 0; display: block; }

.aside .team-details .team-description h3 { display: inline-block; padding-bottom: 2px; border-bottom: 2px solid #FFE89B; }

.aside .team-details .team-description p { display: block; margin-top: 10px; font-size: 16px; }

.aside .team-details .team-description p::before { content: "«"; }

.aside .team-details .team-description p::after { content: "»"; }

.aside .team-details .team-collaborators h3 { display: inline-block; padding: 20px 0px 2px 0px; margin-bottom: 20px; border-bottom: 2px solid #FFE89B; }

.aside .team-details .team-collaborators div.collaborators { display: block; min-height: 45px; line-height: 45px; max-height: 350px; overflow: auto; cursor: pointer; }

.aside .team-details .team-collaborators div.collaborators .icon { float: left; width: 45px; height: 45px; margin-right: 3px; }

.aside .team-details .team-collaborators div.collaborators .icon.admin { background-image: url("/assets/mixed-24-32.png"); background-repeat: no-repeat; background-position: 10px 35%; background-size: 28px 28px; }

.aside .team-details .team-collaborators div.collaborators .icon.membre { background-image: url("/assets/User_Type-24.png"); background-repeat: no-repeat; background-position: center; }

.aside .team-details .team-collaborators div.collaborators .add-friend { float: right; height: 45px; width: 45px; border: none; background-color: inherit; background-image: url("/assets/1451247799_icon-person-add.png"); background-repeat: no-repeat; background-position: center; cursor: pointer; outline: none; }

.aside .team-details .team-collaborators div.collaborators .request-pending { float: right; height: 45px; width: 45px; border: none; background-color: inherit; background-image: url("/assets/icon_send.png"); background-repeat: no-repeat; background-position: center; cursor: pointer; outline: none; }

.aside .team-details .team-collaborators div.collaborators .request-accept { float: right; height: 45px; width: 45px; border: none; background-color: inherit; background-image: url("/assets/friends.png"); background-repeat: no-repeat; background-position: center; cursor: pointer; outline: none; }

.aside .team-details .team-collaborators div.collaborators .add-friend:hover { border: 2px dashed black; }

.aside .team-details .team-collaborators div.default { background-color: #791613; }

.aside .team-details .team-collaborators::after { content: ''; display: table; clear: both; }

.aside .team-details div.workflow { position: absolute; bottom: 0; box-sizing: border-box; padding: 15px 15px 0 15px; display: inline-block; width: 80%; border-top: 2px solid #1d0504; margin-top: 20px; background-color: #751512; }

.aside .team-details div.workflow > div span { font-size: 16px; }

.aside .team-details div.workflow > div span:first-child { display: inline-block; margin-right: 10px; margin-bottom: 10px; padding: 0 0 2px 0; border-bottom: 1px solid #FFE89B; }

.aside .team-details div.workflow > div span:last-child { display: inline-block; }

.aside.on { -webkit-transform: translateX(-300px); -ms-transform: translateX(-300px); transform: translateX(-300px); }

.aside.on.is-active { -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }

.aside.on.is-active .btn-team .btn-wrapper span { background-color: transparent; }

.aside.on.is-active .btn-team .btn-wrapper span::before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.aside.on.is-active .btn-team .btn-wrapper span::after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.friends { z-index: 5; position: fixed; bottom: 0; right: 0; background-color: #79371f; border-bottom: 1px solid black; border-right: 1px solid black; border-left: 1px solid black; display: block; width: 180px; height: 30px; text-align: center; line-height: 30px; cursor: pointer; -webkit-transition: all 0.4s; transition: all 0.4s; }

.friends span.btn-friends { position: absolute; bottom: 0; left: 0; padding-top: 2px; display: inline-block; width: 100%; font-size: 14px; background-color: #8d4024; border-top: 1px solid black; }

.friends .display { display: none; height: 450px; max-height: 370px; overflow-y: auto; }

.friends .display { display: none; height: 100%; overflow-y: auto; }

.friends .display h2 { margin: 5px 0; display: inline-block; padding-bottom: 1px; border-bottom: 2px solid #FFE89B; }

.friends .display ul li { text-align: left; padding: 5px 5px 5px 10px; }

.friends .display ul li:hover { background-color: #642e1a; }

.friends .display ul li span { font-size: 15px; float: left; }

.friends .display ul li button { display: inline-block; width: 24px; height: 24px; float: right; border: none; background: none; background-position: center; outline: none; cursor: pointer; }

.friends .display ul li button.message { position: relative; top: 2px; margin-right: 5px; background-image: url("/assets/1451247757_bubble_message_sms_chat_text.png"); background-repeat: no-repeat; background-size: 20px 20px; }

.friends .display ul li button.delete { position: relative; top: 2px; background-image: url("/assets/1451248913_remove-01.png"); background-repeat: no-repeat; background-size: 20px 20px; }

.friends .display ul li button.add { position: relative; top: 3px; right: 5px; background-image: url("/assets/check-32.png"); background-repeat: no-repeat; background-size: 20px 20px; }

.friends .display .request-wrapper { position: absolute; bottom: 32px; right: 0; left: 0; height: 35px; -webkit-transition: all 0.4s; transition: all 0.4s; max-height: 300px; }

.friends .display .request-wrapper span.btn-request { padding-top: 2px; display: inline-block; width: 100%; font-size: 14px; background-color: #8d4024; border-top: 1px solid black; }

.friends .display .request-wrapper span.btn-request.ping { background-color: #5C2625; border-bottom: 1px solid #5C2625; }

.friends .display .request-wrapper ul { max-height: 300px; overflow: auto; }

.friends .display .request-wrapper ul li { text-align: left; padding: 5px 5px 5px 10px; }

.friends .display .request-wrapper ul li:hover { background-color: #642e1a; }

.friends .display .request-wrapper.is-active { -webkit-transform: translateY(-300px); -ms-transform: translateY(-300px); transform: translateY(-300px); }

.friends .display .request-wrapper.is-active span.btn-request { border-bottom: 1px solid black; }

.friends .display ul:after, .friends .display li:after { content: ''; display: table; clear: both; }

.friends.is-active { height: 100vh; border-top: 1px solid black; }

.friends.is-active .display { display: block; }

.bg-color.is-active { z-index: 4; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(64, 64, 64, 0.6); }

.message-block { display: none; }

.message-block .btn-close { z-index: 5; position: absolute; top: -20px; left: -20px; width: 48px; height: 48px; border-radius: 50%; border: none; background: none; background-color: #751512; cursor: pointer; -webkit-transition: 0.5s all; transition: 0.5s all; background-image: url("/assets/1451248913_remove-01.png"); background-repeat: no-repeat; background-position: center; background-size: 36px 36px; }

.message-block .btn-close:hover { background-color: #5f110f; }

.message-block .form-message { z-index: 5; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); box-sizing: border-box; width: 50%; padding: 25px 30px; background-color: #751512; }

.message-block .form-message div.input-field { margin-bottom: 15px; }

.message-block .form-message div.input-field label, .message-block .form-message div.input-field input[type="text"] { display: block; }

.message-block .form-message div.input-field label { font-weight: bold; font-size: 15px; margin-bottom: 10px; }

.message-block .form-message div.input-field input[type="text"], .message-block .form-message div.input-field input[type="password"] { box-sizing: border-box; width: 100%; height: 30px; line-height: 30px; background-color: #FFE89B; border: 1px solid #FFE89B; padding-left: 40px; font-weight: bold; font-size: 18px; }

.message-block .form-message div.input-field textarea { box-sizing: border-box; min-width: 100%; max-width: 100%; max-height: 300px; padding: 10px; background-color: #FFE89B; border: 1px solid #FFE89B; }

.message-block .form-message div.input-field input[type="submit"] { position: relative; top: 10px; display: block; width: 90%; height: 30px; margin: 0 auto; background-color: #FFE89B; border: 1px solid #ffe282; border-radius: 5px; font-weight: bold; text-transform: uppercase; font-family: 'Roboto'; cursor: pointer; -webkit-transition: all 0.4s; transition: all 0.4s; }

.message-block .form-message div.input-field input[type="submit"]:hover { background-color: #ffdc68; }

.message-block .form-message div.input-field .ipt-password { background-image: url("/assets/img/mail-32.png"); background-size: 28px 28px; background-repeat: no-repeat; background-position: 1% 50%; }

.message-block .form-message div.input-field .ipt-mail { background-image: url("/assets/mail-32.png"); background-size: 24px 24px; background-repeat: no-repeat; background-position: 1.1% 50%; }

.message-block.is-active { display: block; }

.main { overflow-y: auto; min-height: 250px; background-color: #490d0b; border: 2px solid #330908; }

.main .content-index { padding: 15px; /* ADD STYLE ITEM TODOLIST */ }

.main .content-index .display-default { height: 100px; margin-top: 30px;}

.main .content-index .display-default div { text-align: center; }

.main .content-index .display-default div .btn-create { z-index: -1; display: block; width: 64px; height: 64px; margin: 0 auto; background-image: url("/assets/Streamline-75-128.png"); background-size: 64px 64px; background-repeat: no-repeat; -webkit-transition: all 3s; transition: all 3s; }

.main .content-index .display-default div .span-create { display: inline-block; margin: 10px 0 0 0; padding: 10px 30px 10px 30px; border: 1px solid #330908; background-color: #751512; border-radius: 5px; -webkit-transition: all 0.4s; transition: all 0.4s; }

.main .content-index .display-default div .span-create:hover { background-color: #5f110f; }

.main .content-index .todolist-manage a { display: inline-block; font-size: 12px; text-decoration: underline; }

.main .content-index .todolist-manage a:hover { color: #ffd64f; }

.main .content-index .todolist-project { position: relative; padding: 10px 10px; margin-bottom: 15px; background-color: #751512; }

.main .content-index .todolist-project .current-project { max-height: 30px; line-height: 30px; text-align: center; font-weight: bold; }

.main .content-index .todolist-project .current-project span.title { vertical-align: top; }

.main .content-index .todolist-project .current-project .current { display: inline-block; min-width: 200px; width: auto; padding: 0 20px; background-color: #FFE89B; color: #751512; background-image: url("/assets/icon-arrow-down-b-24.png"); background-position: 97% 50%; background-repeat: no-repeat; cursor: pointer; }

.main .content-index .todolist-project .current-project span.title, .main .content-index .todolist-project .current-project div.project { display: inline-block; }

.main .content-index .todolist-project .current-project .projects { display: none; }

.main .content-index .todolist-project .current-project .projects ul { z-index: 3; background-color: green; }

.main .content-index .todolist-project .current-project .projects ul li { height: 30px; line-height: 30px; background-color: #FFE89B; color: #751512; cursor: pointer; -webkit-transition: all 0.1s; transition: all 0.1s; }

.main .content-index .todolist-project .current-project .projects ul li:hover { background-color: #751512; color: #FFE89B; }

.main .content-index .todolist-add .ipt-todolist { width: 60%; height: 30px; border-radius: 5px; border: 1px solid #5f110f; background-color: #751512; padding-left: 15px; margin-bottom: 10px; color: #FFE89B; font-weight: bold; font-family: 'Roboto'; outline: none; }

.main .content-index .todolist-add .btn-submit { margin-left: 20px; width: 150px; height: 34px; color: #FFE89B; font-weight: bold; font-family: 'Roboto'; text-transform: uppercase; background-color: #751512; border: none; border-radius: 7px; cursor: pointer; -webkit-transition: all 0.6s; transition: all 0.6s; }

.main .content-index .todolist-add .btn-submit:hover { background-color: #5f110f; }

.main .content-index .todolist { min-height: 200px; font-family: 'Finger Paint'; margin-top: 5px; /* FIN STYLE ITEM TODOLIST */ }

.main .content-index .todolist .action { margin-bottom: 15px; position: relative; /* Aspect général de la coche */ /* Aspect si "pas cochée" */ /* Aspect si "cochée" */ }

.main .content-index .todolist .action input[type="checkbox"]:not(:checked), .main .content-index .todolist .action input[type="checkbox"]:checked { position: absolute; left: -9999px; }

.main .content-index .todolist .action input[type="checkbox"]:not(:checked) + label, .main .content-index .todolist .action input[type="checkbox"]:checked + label { position: relative; padding-left: 30px; cursor: pointer; text-transform: capitalize; }

.main .content-index .todolist .action input[type="checkbox"]:not(:checked) + label::before, .main .content-index .todolist .action input[type="checkbox"]:checked + label::before { content: ''; position: absolute; left: 0; top: 2px; width: 17px; height: 17px; /* dim. de la case */ border: 1px solid black; background: #751512; border-radius: 3px; /* angles arrondis */ box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

.main .content-index .todolist .action [type="checkbox"]:not(:checked) + label:after, .main .content-index .todolist .action [type="checkbox"]:checked + label:after { content: '✔'; position: absolute; top: 0; left: 0px; font-size: 24px; color: #09ad7e; -webkit-transition: all .2s; transition: all .2s; /* on prévoit une animation */ }

.main .content-index .todolist .action [type="checkbox"]:not(:checked) + label:after { opacity: 0; /* coche invisible */ -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); /* mise à l'échelle à 0 */ }

.main .content-index .todolist .action [type="checkbox"]:checked + label:after { opacity: 1; /* coche opaque */ -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); /* mise à l'échelle 1:1 */ }

.main .content-index .todolist .action .actions-priority { z-index: 2; display: inline-block; position: absolute; -webkit-transform: translateX(20px) translateY(-39%); -ms-transform: translateX(20px) translateY(-39%); transform: translateX(20px) translateY(-39%); box-sizing: border-box; background-color: #FFE89B; color: black; }

.main .content-index .todolist .action .actions-priority ul li { padding: 5px; cursor: pointer; font-family: 'Roboto'; font-size : 14px; font-weight : bold; }

.main .content-index .todolist .action .actions-priority ul li.is-active { background-color: green; }

.main .content-index .todolist .action .actions-priority ul li:hover { background-color: #CCC194; }

.main .content-index .todolist .action .actions-priority ul li:nth-child(2)::before { z-index: 1; content: ''; position: absolute; left: -13px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 0; height: 0; border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-right: 13px solid #FFE89B; }

.main .content-index .todolist .action .actions-priority ul li:nth-child(2):hover::before { border-right: 13px solid #CCC194; }

.main .content-index .todolist .action.is-archived { color: grey; /* Aspect général de la coche */ /* Aspect si "pas cochée" */ /* Aspect si "cochée" */ }

.main .content-index .todolist .action.is-archived input[type="checkbox"]:not(:checked) + label::before, .main .content-index .todolist .action.is-archived input[type="checkbox"]:checked + label::before { content: ''; position: absolute; left: 0; top: 2px; width: 17px; height: 17px; /* dim. de la case */ border: 1px solid grey; background: #8d8d8d; border-radius: 3px; /* angles arrondis */ box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

.main .content-index .todolist .action.is-archived [type="checkbox"]:not(:checked) + label:after, .main .content-index .todolist .action.is-archived [type="checkbox"]:checked + label:after { content: '✔'; position: absolute; top: 0; left: 0px; font-size: 24px; color: #191919; -webkit-transition: all .2s; transition: all .2s; /* on prévoit une animation */ }

.main .content-index .todolist .action.is-archived [type="checkbox"]:not(:checked) + label:after { opacity: 1; /* coche invisible */ -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); /* mise à l'échelle à 0 */ }

.main .content-index .todolist .action.is-archived [type="checkbox"]:checked + label:after { opacity: 1; /* coche opaque */ -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); /* mise à l'échelle 1:1 */ }

.main .content-index .todolist .todolist-action button {border: none; display: inline-block; width: 100px; height: 32px; margin: 20px 0 15px 0px; line-height: 30px; text-align: center; font-size: 12px; border-radius: 5px; background-color: #FFE89B; color: #751512; -webkit-transition: all 0.6s; transition: all 0.6s; }

.main .content-index .todolist .todolist-action button:hover { background-color: #751512; color: #FFE89B; }

.main .content-index .todolist .todolist-action button.btn-archive::before { z-index: 0; content: url("/assets/archive.png"); position: relative; top: 3px; right: 2px; }

.main .content-index .todolist .todolist-action button.btn-delete::before { z-index: 0; content: url("/assets/minimal-97-32.png"); position: relative; top: 3px; }

/* RESPONSIVE RULES */
@media only screen and (max-width: 968px) { .container { width: auto; margin: 0 15px 0 15px; }
    .main { margin-bottom: 20px; } }

@media only screen and (max-width: 500px) { .main { margin-bottom: 20px; }
    .main .content { padding: 15px; }
    .main .content-index .display-default { height: 100px; margin-top: 18px; }
    .main .content .todolist-project { position: relative; padding: 10px 10px; margin-bottom: 15px; }
    .main .content .todolist-project .current-project { height: auto; max-height: none; }
    .main .content .todolist-project .current-project span.title, .main .content .todolist-project .current-project div.project { display: block; }
    .main .content .todolist-project .current-project .current { display: block; min-width: 100px; margin-top: 5px; }
    .main .content .todolist-project a { display: block; color: green; }
    .main .content .todolist-add .ipt-todolist { display: block; width: 95%; }
    .main .content .todolist-add .btn-submit { display: inline-block; text-align: center; margin: 10px auto 0 auto; width: 50%; height: 34px; }
    .main .content .todolist .todolist-action a { vertical-align: bottom; display: inline-block; width: 95px; height: 32px; margin: 0 0 15px 0px; } }

.main .content-inscription, .main .content-log, .main .content-manage-team { padding-bottom: 30px; }

.main .content-inscription h1, .main .content-log h1, .main .content-manage-team h1 { font-size: 26px; text-align: center; margin: 10px 0; padding: 10px; }

.main .content-inscription form.form-inscription, .main .content-inscription form.form-manage, .main .content-log form.form-inscription, .main .content-log form.form-manage, .main .content-manage-team form.form-inscription, .main .content-manage-team form.form-manage { width: 30%; margin: 0 auto; padding: 15px 30px; background-color: #751512; }

.main .content-inscription form.form-inscription div.input-field, .main .content-inscription form.form-manage div.input-field, .main .content-log form.form-inscription div.input-field, .main .content-log form.form-manage div.input-field, .main .content-manage-team form.form-inscription div.input-field, .main .content-manage-team form.form-manage div.input-field { margin-bottom: 15px; }

.main .content-inscription form.form-inscription div.input-field label, .main .content-inscription form.form-inscription div.input-field input[type="text"], .main .content-inscription form.form-manage div.input-field label, .main .content-inscription form.form-manage div.input-field input[type="text"], .main .content-log form.form-inscription div.input-field label, .main .content-log form.form-inscription div.input-field input[type="text"], .main .content-log form.form-manage div.input-field label, .main .content-log form.form-manage div.input-field input[type="text"], .main .content-manage-team form.form-inscription div.input-field label, .main .content-manage-team form.form-inscription div.input-field input[type="text"], .main .content-manage-team form.form-manage div.input-field label, .main .content-manage-team form.form-manage div.input-field input[type="text"] { display: block; }

.main .content-inscription form.form-inscription div.input-field label, .main .content-inscription form.form-manage div.input-field label, .main .content-log form.form-inscription div.input-field label, .main .content-log form.form-manage div.input-field label, .main .content-manage-team form.form-inscription div.input-field label, .main .content-manage-team form.form-manage div.input-field label { font-weight: bold; font-size: 15px; margin-bottom: 10px; }

.main .content-inscription form.form-inscription div.input-field input[type="text"], .main .content-inscription form.form-inscription div.input-field input[type="password"], .main .content-inscription form.form-manage div.input-field input[type="text"], .main .content-inscription form.form-manage div.input-field input[type="password"], .main .content-log form.form-inscription div.input-field input[type="text"], .main .content-log form.form-inscription div.input-field input[type="password"], .main .content-log form.form-manage div.input-field input[type="text"], .main .content-log form.form-manage div.input-field input[type="password"], .main .content-manage-team form.form-inscription div.input-field input[type="text"], .main .content-manage-team form.form-inscription div.input-field input[type="password"], .main .content-manage-team form.form-manage div.input-field input[type="text"], .main .content-manage-team form.form-manage div.input-field input[type="password"] { box-sizing: border-box; width: 100%; height: 30px; line-height: 30px; background-color: #FFE89B; border: 1px solid #FFE89B; padding-left: 40px; font-weight: bold; font-size: 18px; }

.main .content-inscription form.form-inscription div.input-field input[type="submit"], .main .content-inscription form.form-manage div.input-field input[type="submit"], .main .content-log form.form-inscription div.input-field input[type="submit"], .main .content-log form.form-manage div.input-field input[type="submit"], .main .content-manage-team form.form-inscription div.input-field input[type="submit"], .main .content-manage-team form.form-manage div.input-field input[type="submit"] { position: relative; top: 5px; display: block; width: 90%; height: 30px; margin: 0 auto; background-color: #FFE89B; border: 1px solid #ffe282; border-radius: 5px; font-weight: bold; text-transform: uppercase; font-family: 'Roboto'; cursor: pointer; -webkit-transition: all 0.4s; transition: all 0.4s; }

.main .content-inscription form.form-manage .form-footer-left, .main .content-log form.form-manage .form-footer-left, .main .content-manage-team form.form-manage .form-footer-left { margin: 15px 0 0 0; float: left; display: block; width: 50%; }

.main .content-inscription form.form-inscription div.input-field .ipt-login, .main .content-inscription form.form-manage div.input-field .ipt-login, .main .content-log form.form-inscription div.input-field .ipt-login, .main .content-log form.form-manage div.input-field .ipt-login, .main .content-manage-team form.form-inscription div.input-field .ipt-login, .main .content-manage-team form.form-manage div.input-field .ipt-login { background-image: url("/assets/user-32.png"); background-size: 28px 28px; background-repeat: no-repeat; background-position: 2% 50%; }

.main .content-inscription form.form-inscription div.input-field .ipt-mail, .main .content-inscription form.form-manage div.input-field .ipt-mail, .main .content-log form.form-inscription div.input-field .ipt-mail, .main .content-log form.form-manage div.input-field .ipt-mail, .main .content-manage-team form.form-inscription div.input-field .ipt-mail, .main .content-manage-team form.form-manage div.input-field .ipt-mail { background-image: url("/assets/mail-32.png"); background-size: 24px 24px; background-repeat: no-repeat; background-position: 3% 50%; }

.main .content-inscription form.form-inscription div.input-field .ipt-password, .main .content-inscription form.form-manage div.input-field .ipt-password, .main .content-log form.form-inscription div.input-field .ipt-password, .main .content-log form.form-manage div.input-field .ipt-password, .main .content-manage-team form.form-inscription div.input-field .ipt-password, .main .content-manage-team form.form-manage div.input-field .ipt-password { background-image: url("/assets/key-32.png"); background-size: 22px 22px; background-repeat: no-repeat; background-position: 3% 50%; }

.main .content-inscription form.form-inscription div.input-field .ipt-name-project, .main .content-inscription form.form-manage div.input-field .ipt-name-project, .main .content-log form.form-inscription div.input-field .ipt-name-project, .main .content-log form.form-manage div.input-field .ipt-name-project, .main .content-manage-team form.form-inscription div.input-field .ipt-name-project, .main .content-manage-team form.form-manage div.input-field .ipt-name-project { background-image: url("/assets/SoftwareIcons-22-32.png"); background-size: 22px 22px; background-repeat: no-repeat; background-position: 2% 50%; }

.main .content-inscription form.form-inscription .btn-inscription, .main .content-inscription form.form-manage .btn-inscription, .main .content-log form.form-inscription .btn-inscription, .main .content-log form.form-manage .btn-inscription, .main .content-manage-team form.form-inscription .btn-inscription, .main .content-manage-team form.form-manage .btn-inscription { font-size: 12px; text-decoration: underline; }

.main .content-inscription form.form-inscription .btn-inscription:hover, .main .content-inscription form.form-manage .btn-inscription:hover, .main .content-log form.form-inscription .btn-inscription:hover, .main .content-log form.form-manage .btn-inscription:hover, .main .content-manage-team form.form-inscription .btn-inscription:hover, .main .content-manage-team form.form-manage .btn-inscription:hover { color: #ffd64f; }

.main .content-inscription form.form-manage, .main .content-log form.form-manage, .main .content-manage-team form.form-manage { box-sizing: border-box; width: 90%; margin: 0 auto; padding: 15px 15px; }

.main .content-inscription form.form-manage .row, .main .content-log form.form-manage .row, .main .content-manage-team form.form-manage .row { padding: 10px; }

.main .content-inscription form.form-manage .row::after, .main .content-log form.form-manage .row::after, .main .content-manage-team form.form-manage .row::after { content: ""; display: table; clear: both; }

.main .content-inscription form.form-manage div.side-left, .main .content-inscription form.form-manage div.side-right, .main .content-log form.form-manage div.side-left, .main .content-log form.form-manage div.side-right, .main .content-manage-team form.form-manage div.side-left, .main .content-manage-team form.form-manage div.side-right { padding: 10px; box-sizing: border-box; width: 50%; float: left; }

.main .content-inscription form.form-manage div.side-left textarea, .main .content-inscription form.form-manage div.side-right textarea, .main .content-log form.form-manage div.side-left textarea, .main .content-log form.form-manage div.side-right textarea, .main .content-manage-team form.form-manage div.side-left textarea, .main .content-manage-team form.form-manage div.side-right textarea { box-sizing: border-box; padding: 10px; width: 100%; min-width: 100%; max-width: 100%; height: 251px; background-color: #FFE89B; border: 1px solid #FFE89B; background-image: url("/assets/pen_2-64.png"); background-size: 64px 64px; background-repeat: no-repeat; background-position: center; font-weight: bold; font-size: 18px; }

.main .content-inscription form.form-manage div.side-right label, .main .content-log form.form-manage div.side-right label, .main .content-manage-team form.form-manage div.side-right label { text-align: center; }

.main .content-inscription form.form-manage div.side-right div.select-users, .main .content-log form.form-manage div.side-right div.select-users, .main .content-manage-team form.form-manage div.side-right div.select-users { box-sizing: border-box; display: block; width: 100%; height: 160px; max-height: 160px; overflow: auto; padding: 15px; margin-bottom: 10px; background-color: #FFE89B; background-image: url("/assets/User_Group-64.png"); background-size: 64px 64px; background-repeat: no-repeat; background-position: center; }

.main .content-inscription form.form-manage div.side-right div.select-users span, .main .content-log form.form-manage div.side-right div.select-users span, .main .content-manage-team form.form-manage div.side-right div.select-users span { color: black; display: block; background-color: #ffdc68; cursor: pointer; padding: 5px; text-transform: capitalize; }

.main .content-inscription form.form-manage div.side-right div.select-users span::before, .main .content-log form.form-manage div.side-right div.select-users span::before, .main .content-manage-team form.form-manage div.side-right div.select-users span::before { content: "♥"; margin-right: 10px; }

.main .content-inscription form.form-manage div.side-right ul, .main .content-log form.form-manage div.side-right ul, .main .content-manage-team form.form-manage div.side-right ul { box-sizing: border-box; display: block; width: 100%; height: 150px; max-height: 150px; overflow: auto; background-color: #FFE89B; color: black; }

.main .content-inscription form.form-manage div.side-right ul li, .main .content-log form.form-manage div.side-right ul li, .main .content-manage-team form.form-manage div.side-right ul li { display: block; width: auto; height: 25px; line-height: 25px; padding-left: 20px; text-align: left; text-transform: capitalize; cursor: pointer; }

.main .content-inscription form.form-manage div.side-right ul li:hover, .main .content-log form.form-manage div.side-right ul li:hover, .main .content-manage-team form.form-manage div.side-right ul li:hover { background-color: #ffdc68; }

.main .content-inscription form.form-manage div.side-right ul li.is-adding, .main .content-log form.form-manage div.side-right ul li.is-adding, .main .content-manage-team form.form-manage div.side-right ul li.is-adding { display: none; }

.main .content-inscription form.form-manage div.side-right span.tooltip, .main .content-log form.form-manage div.side-right span.tooltip, .main .content-manage-team form.form-manage div.side-right span.tooltip { font-size: 14px; font-style: italic; }

.main .content-inscription form.form-manage div.side-right span.stars, .main .content-log form.form-manage div.side-right span.stars, .main .content-manage-team form.form-manage div.side-right span.stars { display: inline-block; margin-right: 2px; position: relative; bottom: 2px; }

.main .content-inscription form.form-manage .form-footer, .main .content-log form.form-manage .form-footer, .main .content-manage-team form.form-manage .form-footer { margin: 15px 0 0 0; float: right; display: block; width: 50%; }

.main .content-inscription form.form-manage .form-footer input[type="submit"], .main .content-log form.form-manage .form-footer input[type="submit"], .main .content-manage-team form.form-manage .form-footer input[type="submit"] { height: 30px !important; }

/* RESPONSIVE RULES */
@media only screen and (max-width: 968px) { .main .content-inscription h1, .main .content-log h1, .main .content-manage-team h1 { font-size: 20px; }
    .main .content-inscription form.form-inscription, .main .content-log form.form-inscription, .main .content-manage-team form.form-inscription { width: 50%; margin: 0 auto; padding: 15px 30px; }
    .main .content-inscription form.form-inscription div.input-field label, .main .content-log form.form-inscription div.input-field label, .main .content-manage-team form.form-inscription div.input-field label { font-size: 14px; }
    .main .content-inscription form.form-inscription div.input-field input[type="text"], .main .content-inscription form.form-inscription div.input-field input[type="password"], .main .content-log form.form-inscription div.input-field input[type="text"], .main .content-log form.form-inscription div.input-field input[type="password"], .main .content-manage-team form.form-inscription div.input-field input[type="text"], .main .content-manage-team form.form-inscription div.input-field input[type="password"] { width: 100%; }
    .main .content-inscription form.form-manage div.side-left, .main .content-inscription form.form-manage div.side-right, .main .content-log form.form-manage div.side-left, .main .content-log form.form-manage div.side-right, .main .content-manage-team form.form-manage div.side-left, .main .content-manage-team form.form-manage div.side-right { width: 100%; }
    .main .content-inscription form.form-manage div.side-left textarea, .main .content-inscription form.form-manage div.side-right textarea, .main .content-log form.form-manage div.side-left textarea, .main .content-log form.form-manage div.side-right textarea, .main .content-manage-team form.form-manage div.side-left textarea, .main .content-manage-team form.form-manage div.side-right textarea { height: 150px; background-size: 36px 36px; }
    .main .content-inscription form.form-manage .form-footer, .main .content-log form.form-manage .form-footer, .main .content-manage-team form.form-manage .form-footer { margin: 0; float: right; display: block; width: 100%; }
    .main .content-inscription form.form-manage .form-footer input[type="submit"], .main .content-log form.form-manage .form-footer input[type="submit"], .main .content-manage-team form.form-manage .form-footer input[type="submit"] { height: 30px !important; } }

@media only screen and (max-width: 500px) { .main .content-inscription h1, .main .content-log h1, .main .content-manage-team h1 { font-size: 20px; }
    .main .content-inscription form.form-inscription, .main .content-log form.form-inscription, .main .content-manage-team form.form-inscription { width: 80%; }
    .main .content-inscription form.form-manage, .main .content-log form.form-manage, .main .content-manage-team form.form-manage { margin: 0 auto; padding: 0;} }


.main .content-index button.btn-filter { background-color: #751512; padding: 5px 50px 5px 30px; margin-bottom: 10px; border-radius: 5px; border: none; outline: none; cursor: pointer; color: #FFE89B; font-weight: bold; text-transform: capitalize; -webkit-transition: all 0.3s; transition: all 0.3s; background-image: url('/assets/icon-arrow-down-b-24.png'); background-repeat: no-repeat; background-position: right top; }

.main .content-index button.btn-filter:hover { background-color: #5f110f; }

.main .content-index .todolist-query { display: none; width: 100%; margin: 0 0 20px 0; background-color: #751512; }

.main .content-index .todolist-query .query-wrapper { width: 33.33%; float: left; box-sizing: border-box; text-align: center; padding: 10px 5px; }

.main .content-index .todolist-query .query-wrapper h3 { display: inline-block; padding-bottom: 2px; font-size: 16px; border-bottom: 2px solid #FFE89B; }

.main .content-index .todolist-query:after { content: ''; display: table; clear: both; }

.main .content-index .todolist-query .query-selector { margin: 15px 0 10px 0; }

.main .content-index .todolist-query .query-selector .priority, .main .content-index .todolist-query .query-selector .query-date { text-align: left; font-size: 14px; }

.main .content-index .todolist-query .query-selector .priority li, .main .content-index .todolist-query .query-selector .query-date li { cursor: pointer; line-height: 20px; }

.main .content-index .todolist-query .query-selector .priority li:hover, .main .content-index .todolist-query .query-selector .query-date li:hover { color: dimgrey; }

.main .content-index .todolist-query .query-selector .query-date { margin-left: 10px; }

.main .content-index .todolist-query .query-selector .ipt-query { box-sizing: border-box; width: 80%; height: 30px; margin: 15px; line-height: 30px; background-color: #FFE89B; border: 1px solid #FFE89B; padding-left: 40px; font-weight: bold; font-size: 18px; background-image: url("/assets/67-32.png"); background-repeat: no-repeat; background-size: 24px 24px; background-position: 5px; }

.main .content-index .todolist-query .query-selector ::-webkit-input-placeholder { color: darkgrey; text-transform: uppercase; font-size: 11px; }

.main .content-index .actions-date span { display: inline-block; margin: 0 0 20px 0; padding-bottom: 2px; border-bottom: 2px solid #FFE89B; }

.main .content-index .actions-date .actions { margin-left: 15px; }

.main .content .wrapper-priority { box-sizing: border-box; width: 90%; margin: 0 auto; padding: 15px 15px; }

.main .content .wrapper-priority row { padding: 10px; }

.main .content .wrapper-priority row::after { content: ""; display: table; clear: both; }

.main .content .wrapper-priority div.side-left h2 { display: block; text-align: center; margin: 10px 0; padding: 5px 0; background-color: #751512; border: 2px solid #490d0b; }

.main .content .wrapper-priority div.side-left table { display: table; width: 100%; box-sizing: border-box; }

.main .content .wrapper-priority div.side-left thead, .main .content .wrapper-priority div.side-left tbody { display: inline-table; width: 100%; box-sizing: border-box; }

.main .content .wrapper-priority div.side-left thead tr { box-sizing: border-box; width: 100%; background-color: #B84948; }

.main .content .wrapper-priority div.side-left thead tr th { padding: 5px 0; box-sizing: border-box; width: 33.33%; border: 2px solid #490d0b; }

.main .content .wrapper-priority div.side-left tbody { margin: 1px 0 4px 0; }

.main .content .wrapper-priority div.side-left tbody tr, .main .content .wrapper-priority div.side-left tbody td { padding: 5px 0; width: 33.33%; text-align: center; border: 2px solid #490d0b; background-color: #751512; }

.main .content .wrapper-priority div.side-left tbody tr input[type="text"], .main .content .wrapper-priority div.side-left tbody td input[type="text"] { display: inline-block; width: 90%; border: none; background-color: #5f110f; color: #FFE89B; text-align: center; padding: 5px 0; }

.main .content .wrapper-priority div.side-left tbody tr button, .main .content .wrapper-priority div.side-left tbody td button { outline: none; border-radius: 5px; border: none; width: 30%; padding: 5px 0; -webkit-transition: all 0.4s; transition: all 0.4s; }

.main .content .wrapper-priority div.side-left tbody tr .btn-save, .main .content .wrapper-priority div.side-left tbody td .btn-save { background-color: #009900; }

.main .content .wrapper-priority div.side-left tbody tr .btn-save:hover, .main .content .wrapper-priority div.side-left tbody td .btn-save:hover { background-color: #006600; }

.main .content .wrapper-priority div.side-left tbody tr .btn-delete, .main .content .wrapper-priority div.side-left tbody td .btn-delete { background-color: #b22222; }

.main .content .wrapper-priority div.side-left tbody tr .btn-delete:hover, .main .content .wrapper-priority div.side-left tbody td .btn-delete:hover { background-color: #871a1a; }

.main .content .wrapper-priority div.side-left tfoot { box-sizing: border-box; width: 100%; }

.main .content .wrapper-priority div.side-left tfoot tr { border: 2px solid #490d0b; }

.main .content .wrapper-priority div.side-left tfoot tr button { outline: none; position: relative; display: inline-block; width: auto; padding: 5px 20px 5px 30px; background-color: #009900; border: none; font-size: 15px; -webkit-transition: all 0.4s; transition: all 0.4s; }

.main .content .wrapper-priority div.side-left tfoot tr button:before { position: absolute; left: 5px; top: 4px; content: ''; background-image: url("/assets/add-80px-32.png"); display: inline-block; width: 20px; height: 20px; background-size: 20px 20px; }

.main .content .wrapper-priority div.side-left tfoot tr button:hover { background-color: #006600; }

.main .content .wrapper-priority div.side-left .note span { display: block; margin-top: 10px; font-size: 13px; }

.main .content .wrapper-priority div.side-right label { text-align: center; }

input[type='checkbox'], label[for="user_remember_me"] { display: inline-block!important;}

.btn-delete-projet { border: none; display: none; text-transform: uppercase; background-color: #ffe89b; padding: 10px 30px; margin-top: 10px; border-radius: 5px; margin: 0 auto; font-weight: bold;  -webkit-transition: all 0.4s; transition: all 0.4s; cursor: pointer;}
.btn-delete-projet:hover { background-color: #E8D38D; }

.username { display: inline-block; width: 50%; text-align: center; font-weight: bold; text-transform: uppercase;}