<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>

  <!-- Import CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Font Roboto / Default -->
  <link href='https://fonts.googleapis.com/css?family=Finger+Paint|Roboto' rel='stylesheet' type='text/css'>

  <!-- Import JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg-color" id="bg-color"></div>
  <%= render 'projets/index' %>
  <div class="header">
    <div class="container">
      <div class="header-options">
        <div class="locale-options">
          <span class="locale-fr">
            <%= link_to_unless I18n.locale == :fr, t('views.layout.application.locale_french'), locale: :fr %>
          </span>&nbsp;|&nbsp;<span class="locale-en"><%= link_to_unless I18n.locale == :en, t('views.layout.application.locale_english'), locale: :en %></span>
        </div>

        <% if user_signed_in? %>
            <%= render :partial => 'users/user', :locals => { :user => current_user } %>
        <% end %>

        <% if user_signed_in? %>
        <div class="loggout-wrapper" data-user='<%= current_user.id %>' id="userid">
          <%= link_to t('views.layout.application.libelle_loggout'), destroy_user_session_path, :method => :delete %>
        </div>
        <% end %>
      </div>
      <span class="hr"></span>
      <%= link_to root_path do %>
          <h1>What I Have To Do</h1>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= render 'contacts/index' %>
    <%= render 'contacts/form'%>
    <%= render 'contacts/add'%>
    <%= render 'contacts/delete'%>
  <% end %>

  <div class="main container" id="main">
    <% flash.each do |name, msg| -%>
        <div class="notice notice-<%= set_class(name) %>" id="notice">
          <%= content_tag :div, msg %>
        </div>
    <% end -%>

    <%= yield %>
  </div>

  <div class="footer container">
    <h2><%= t('views.layout.application.title_footer') %></h2>
    <div class="RS">
      <a href='https://www.facebook.com/didier.youn' class="fb"></a>
      <a href="https://twitter.com/DidYoun" class="twitter"></a>
      <a href="https://plus.google.com/103986740306339041550/posts" class="google"></a>
      <a href="https://twitter.com/instagram" class="insta"></a>
      <a href="https://www.youtube.com/channel/UCEPrt7YBB8GNeP8bSYSS_BQ" class="yt"></a>
      <a href="https://gitlab.com/Didou/ROR_Todolist" class="github"></a>
    </div>
  </div>
</body>
</html>
